TZ=
NODE_ENV=

NEXT_PUBLIC_SITE_AUTHOR_NAME=
NEXT_PUBLIC_SITE_AUTHOR_LINKEDIN_URL=
NEXT_PUBLIC_SITE_AUTHOR_GITHUB_URL=

NEXT_PUBLIC_RAFFLE_CONTRACT_ADDRESS_HARDHAT=
NEXT_PUBLIC_RAFFLE_CONTRACT_ADDRESS_SEPOLIA=
NEXT_PUBLIC_RAFFLE_CONTRACT_ADDRESS_MAINNET=
